$primary-color: #3498db;
$text-color: #2c3e50;
$background-color: #fff;
$border-color: #ddd;
$box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
$padding-size: 15px;
$radius: 10px;

#apartments {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: $background-color;
    box-shadow: $box-shadow;
    border-radius: $radius;
    overflow: hidden;

    th {
        background-color: $primary-color;
        color: white;
        padding: $padding-size;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    td {
        padding: $padding-size;
        font-size: 16px;
        text-align: center;
        color: $text-color;
        border-bottom: 1px solid $border-color;
    }
}
