@import '../styles/global';

#contact-info {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h2 {
        color: $primary-color;
        margin-bottom: 10px;
    }

    .contact-item {
        margin-bottom: 10px;

        h3 {
            margin: 0;
            color: $accent-color;
        }

        p {
            margin: 10px 0;
        }
    }
}
